@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    background-image: url('./image/backhome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    color: #e0e0e0;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

/* Navbar Styles */
.navbar {
    position: relative;
   ;
    width: 100%;
    height: 75px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #d3ff12;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}

.navbar-brand {
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    text-shadow: 1px 1px 0#e0e0e0;
    padding: 0 0 0 15px;
}



.navbar-brand .highlight {
    position: relative;
    display: inline-block;
}



.navbar-links {
    display: flex;
    gap: 30px;
}

.navbar-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s;
    position: relative;
    text-align: center;
    right: 77px;
}

.navbar-link:hover {
    color: #ff0076;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    background: linear-gradient(to right,#ff0076, transparent);
    transition: width 0.3s;
}

.navbar-link:hover::after {
    width: 100%;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-left: 679px;
    padding-top: 250px;
   
    
    
}
.video-container video {
    width: 100%;
    max-width: 2000px;
    max-height: 300px;
    border-radius: 10px;
    margin-top: 320px;

    
}

